.wheel-fortune-container {
  font-family: Manrope;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  font-family: Craftwork Gro;
  padding-top: 50px;
  /* padding: 20px; */
  /* background-color: black; */
  /* width: 360px; */
  width: 100%;
}

.wheel-vibration {
  animation: shake 0.64s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.wheel-fortune {
  position: relative;
  width: 337px;
  height: 440px;
  margin-bottom: 80px;
  opacity: 0;
}

.wheel {
  position: absolute;
  top: 101px;
  left: 3px;
  width: 330px;
  height: 330px;
  background-image: radial-gradient(circle, #1C3994, #1A3791, #173394, #173394, #112B6B, #092127, #0921a7 100%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-img {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.border-img img {
  z-index: 1;
}

.flame-effect {
  position: absolute;
  left: -221px;
  top: -132px;
  /* opacity: 0; */
  /* transition: all 0.3s ease-in-out; */
}

.flame-effect.show-flame {
  animation: flame 0.8s forwards;
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1), linear;
}

@keyframes flame {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  90% {
    opacity: 0.2;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.spin-btn {
  width: 245px;
  height: 48px;
  border: solid 1px #86C0FF !important;
  border-radius: 16px !important;
  color: black;
  background-image: linear-gradient(to bottom right, #398AE1 54%, #58C2EF);
  opacity: 0;
  transform: scale(0);
  /* transition: all 0.4s ease-in-out !important; */
  
  display: inline-block;
  margin-bottom: 10px !important;
}

.show-btn {
  animation: show-button 0.6s ease-in-out forwards;
}

.hide-btn {
  animation: hide-button 0.6s ease-in-out forwards;
}
/* 
.spin-btn.show-btn {
  opacity: 1;
  transform: scale(1);
}

.spin-btn.hidden-btn {
  opacity: 0;
  transform: scale(0);
} */


@keyframes show-button {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 0.5;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes hide-button {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.result-text {
  width: 100%;
  position: absolute;
  top: 54px;
  z-index: 2;
  align-items: center;
  justify-content: center;
}

.result-text div {
  align-items: center;
  justify-content: center;
  color: #AED5FF;
  font-weight: bold;
  /* opacity: 0; */
  opacity: 1;
  /* transform: scale(1); */
  transform: scale(0);
  transition: all 0.3s ease-in-out;
  display: inline-block;
}

.result-text div span {
  font-size: 36px;
}



.result-text.original div {
  opacity: 1;
  transform: scale(1);
}

.result-text.show div {
  opacity: 1;
  animation: result-neon-text 0.6s ease-in-out forwards;
}

@keyframes result-neon-text {
  0% {
    transform: scale(0);
    opacity: 0.3;
  }
  70% {
    transform: scale(2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.sc-gsTCUz.bhdLno {
  width: 330px;
  height: 330px;
}

.hmocIu {
  width: 100% !important;
  height: 100% !important;
}

.circle-mask {  
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* z-index: 4; */
  position: absolute;
  top: 0px;
  left: -100px;
  border: 250px solid #E1E1E1;
  -webkit-transition: all .3s ease;
  &:hover {
    -webkit-transform: scale(60);
  }
}

.bonus-section {
  display: flex;
  width: 337px;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
}

.bonus-league,
.bonus-streak {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #FFFF8A;
  font-weight: bold;
  font-size: 14px;
  gap: 5px;
  /* width: 114.375px; */
  opacity: 0;
}

.bottom {
  color: #398AE1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  height: 20.6406px;
}

.bonus-streak {
  gap: 0px;
}

.bonus-streak .bottom {
  margin-top: 8px;
}

.login-days {
  color: #AED5FF;
}

.movable-text-league {
  animation: moveText 0.6s ease-in-out forwards;
  z-index: 5;
}

.movable-text-streak {
  animation: moveText1 0.6s ease-in-out forwards;
  z-index: 5;
}

.movable-text-streak2 {
  animation: move1Text 0.4s ease-in-out forwards;
  z-index: 5;
}

@keyframes moveText {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  100% {
    /* transform: translate(102px, 148px) scale(20); */
    /* opacity: 0; */
    transform: translate(105px, 148px) scale(1);
    opacity: 1;
  }
}

@keyframes move1Text {
  0% {
    transform: translate(105px, 148px) scale(1);
    opacity: 1;
  }
  100% {
    /* transform: translate(102px, 148px) scale(20); */
    /* opacity: 0; */
    transform: translate(130px, 148px) scale(1);
    opacity: 0;
  }
}

@keyframes moveText1 {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  100% {
    /* transform: translate(-102px, 147px) scale(20); */
    /* opacity: 0; */
    transform: translate(-87px, 147px) scale(1);
    text-align: center;
    opacity: 1;
  }
}

@keyframes moveText2 {
  0% {
    transform: translate(-87px, 147px) scale(1);
    opacity: 1;
  }
  100% {
    /* transform: translate(-102px, 147px) scale(20); */
    /* opacity: 0; */
    transform: translate(-105px, 147px) scale(1);
    text-align: center;
    opacity: 0;
  }
}

.moveable-text-streak2 {
  animation: moveText2 0.4s ease-in-out forwards;
  z-index: 5;
}

.text-league {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -5px;
  font-size: 24px;
}

.text-streak {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  font-size: 24px;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 0.5;
    transform: scale(1.3);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-in-league {
  animation: fadeIn 0.6s ease-in-out forwards;
}

.fade-in-streak {
  animation: fadeIn 0.6s ease-in-out forwards;
}

.fade-in-wheel {
  animation: fadeIn 0.8s ease-in-out forwards;
}

@keyframes fadeIn-platium {
  0% {
    opacity: 0;
    /* transform: scale(0); */
  }

  50% {
    opacity: 0.5;
    /* transform: scale(1.3); */
    font-size: 30px;
  }

  100% {
    opacity: 1;
    /* transform: scale(1); */
    font-size: 24px;
  }
}

.temp-result {
  width: 50%;
  /* position: absolute; */
  left: 0;
  top: 62px;
  z-index: 2;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  /* animation: fadeIn-platium 0.3s ease-in-out forwards; */
  color: #FFFF8A;
  font-size: 24px;
  overflow-x: hidden;
}

.temp-result1 {
  width: 50%;
  /* position: absolute; */
  top: 62px;
  right: 0;
  z-index: 2;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: #FFFF8A;
  font-size: 24px;
  overflow-x: hidden;
}

.hide-temp {
  animation: decreaseWidth 0.5s forwards;
  transform-origin: left;
}

.hide-temp1 {
  animation: decreaseWidth 0.5s forwards;
  transform-origin: right;
}

.show-temp {
  animation: fadeIn-platium 0.3s ease-in-out forwards;
}

@keyframes decreaseWidth {
  0% {
      height: 100%;
      width: 50%; /* Start with full width */
      /* opacity: 1; */
  }
  100% {
      height: 0px;
      width: 0px; /* End with reduced width */
      /* opacity: 0; */
  }
}

.result {
  opacity: 1;
  color: #FFFF8A;
  z-index: 2;
  font-size: 24px;
  width: 0px;
  overflow-x: hidden;
}
.show-result {
  animation: increaseWidth 1s forwards;
}

@keyframes increaseWidth {
  0% {
      width: 0px; /* Start with full width */
      /* opacity: 1; */
  }
  100% {
      width: 100%; /* End with reduced width */
      /* opacity: 0; */
  }
}