#wheelOfFortune {
  display: inline-flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 50%;
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(90deg, #feffd4, #ffe100, #feffd4, #ffe100, #feffd4 99%);
}

#wheelOfFortune:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#wheel {
  display: block;
  font-size: 20px;
  /* font-family: Manrxope; */
}

#spin {
  font: 1.5rem/0 sans-serif;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 120%;
  left: 50%;
  width: 30%;
  height: 30%;
  margin: -15%;
  color: #fff;
  border-radius: 50%;
  transition: 0.8s;
  z-index: 2;
  /* transform: rotate(180deg); */
}

/* #spin::after {
  content: "";
  position: absolute;
  top: -17px;
  border: 10px solid transparent;
  border-bottom-color: yellow;
  border-top: none;
} */


.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 10px; /* Adjust gap between images */
}

.grid-item img {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Optional: adds rounded corners */
  transition: transform 0.3s ease-in-out; /* For hover effect */
}

.grid-item img:hover {
  transform: scale(1.05); /* Slight zoom on hover */
}

.result-text div{
  display: flex;
  color: transparent;
  font-size: 20pt;
}
.result-text div span{
  color: #fff;
    filter: blur(0px) hue-rotate(0deg);
    text-shadow: 0 0 10px #00b3ff, 
    0 0 2px #00b3ff,
    0 0 4px #00b3ff,
    0 0 8px #00b3ff,
    0 0 12px #00b3ff,
    0 0 20px #00b3ff,
    0 0 30px #00b3ff,
    0 0 40px #00b3ff;
  /* animation: animate 3s linear infinite; */
  /* animation-delay: calc(0.1s * var(--i)); */
}
@keyframes animate{
  0%{
    color: #fff;
    filter: blur(0px) hue-rotate(0deg);
    text-shadow: 0 0 10px #00b3ff, 
    0 0 2px #00b3ff,
    0 0 4px #00b3ff,
    0 0 8px #00b3ff,
    0 0 12px #00b3ff,
    0 0 20px #00b3ff,
    0 0 30px #00b3ff,
    0 0 40px #00b3ff;
  }

  /* 30%,70%{
    color: #fff;
    filter: blur(0px) hue-rotate(360deg);
    text-shadow: 0 0 10px #00b3ff, 
    0 0 2px #00b3ff,
    0 0 4px #00b3ff,
    0 0 8px #00b3ff,
    0 0 12px #00b3ff,
    0 0 20px #00b3ff,
    0 0 30px #00b3ff,
    0 0 40px #00b3ff;
  }

  100%{
    color: transparent;
    box-shadow: none;
    filter: blur(0px) hue-rotate(0deg);
  } */
}
